html {
	height: 100%;
	width: 100%;
}

body {
	background-color: rgb(61, 61, 61);
	display: block;
	font-family: monospace;
}

.calculator {
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
	color: white; 
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: auto;
	padding: 25px 0;
}

table {
	box-shadow: 0 0 0 2px rgba(255, 255, 0, 0.2);
	display: flex;
	flex-flow: column nowrap;
}

table input {
	font-size: 5em;
	width: 100%;
}

th {
	font-size: 5em;
}
